{% extends "base.html" %}
{%block title %} Profile {%endblock%}

{%block main%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pro.css') }}">

<div class="container emp-profile">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
            alt="" />
          <!-- <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>{{fname}} {{lname}}</h5>
    
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <form method="POST" action="{{url_for('home')}}">
          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Home" />
    </form>
      </div>
    </div>
    <div class="row" style="margin-left: 35%">
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
            
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{fname}} {{lname}}</p>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{email}}</p>
              </div>
            </div>
            <form method="POST" action="{{url_for('EditProfile')}}">

            <div class="row">
              <div class="col-md-6">
                <label>Date of Birth</label>
              </div>
              <div class="col-md-6">
                <input id="dob" name="dob" placeholder="{{dob}}">
              </div>
            </div>

              <div class="row">
                <div class="col-md-6">
                  <label>Gender</label>
                </div>
                <div class="col-md-6">
                    <input id="gender" name="gender" placeholder="{{gender}}">
                </div>
              </div>

              
              <div class="row">
                <div class="col-md-6">
                  <label>Bio</label>
                </div>
                <div class="col-md-6">
                    <textarea style=width:180 id="bio" name="bio" placeholder="{{bio}}"></textarea>
                </div>
              </div>
              <input style="margin-top: 5%; margin-left:55%;" type="submit" class="profile-edit-btn" name="btnAddMore" value="Save" />
            </form>
          </div>    
          
          </div>
        </div>
      </div>
    </div>
{%endblock%}